.ProductHeading{
    text-align: center;
    color: teal;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

.ProductCardsGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-gap: 20px;
    /* padding: 20px; */
    justify-content: start;
    margin: 20px;
}

.ProductCard {
    background-color: #fff;
    border-radius: 10px;
    max-width: 350px;
    box-shadow: 0 4px 12px rgba(37, 140, 52, 0.584);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    text-align: center;
    position: relative;
}

.ProductCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(37, 140, 52, 0.584);
}

/* Product Card Css */
.ProductSlogan{
    text-align: center;
    color: olivedrab;
    font-size: 20px;
    font-style: italic;
    font-family: 'Arial', sans-serif;
}

.ProductImage img {
    width: 100%;
    height: 220px;
    min-height: 220px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.ProductCard:hover .ProductImage img {
    transform: scale(1.05);
}

.ProductInfoQuantiy{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ProductDetails {
    padding: 20px;
    background-color: #fff;
    text-align: left;
}
.ManageQuantity{
    padding: 20px;
}

.ProductName {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.ProductDescription {
    font-size: 14px;
    color: #777;
    margin: 10px 0;
    line-height: 1.5;
}

.ProductPrice {
    font-size: 20px;
    font-weight: bold;
    color: #e74c3c;
}

.AddToCart{
    position: relative;
    /* left: 0; */
    right: 0;
    bottom: 0px;
    margin-right: 20px;
    margin-left: 20px;
}

.AddToCart button {
    width: 100%;
    background-color: #ff4d4d;
    color: white;
    padding: 12px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 20px;
}

.AddToCart button:hover {
    background-color: #e60000;
    transform: scale(1.05);
}

#no-product-found{
    text-align: center;
    color: red;
    font-size: 40px;
    margin-top: 100px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

.line-through{
    text-decoration: line-through;
    color: gray;
}

.ProductPriceRow{
    display: flex;
    align-items: center;
}
.ProductPriceRow>p{
    margin-right: 10px;
}