.quantity-selector-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cee2ed;
    /* padding: 0px 5px; */
    border-radius: 10px;
  }
  
  .quantity-selector {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .quantity-selector .btn {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: #04624e;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, background-color 0.2s ease;
  }
  
  .quantity-selector .btn:hover {
    background-color: #d34407;
    transform: scale(1.1);
  }
  
  .quantity-selector .btn:active {
    background-color: #d34407;
    transform: scale(1);
  }
  
  .quantity-selector .quantity {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    width: 40px;
    text-align: center;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
  }
  